<div class="p-4 bg-white border-gray-200 rounded-[8px] hover:shadow-md transition-shadow duration-200">
    <h3 class="text-xl font-bold text-blue mb-2">{{taskItem().task}}</h3>
    <p class="text-sm text-gray-600 mb-3">Status: <span class="text-gray-900 font-semibold capitalize">{{taskItem().status}}</span></p>
    @for (item of action(); track $index) {
        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 cursor-pointer capitalize me-2" (click)="markAs(taskItem().task, item)">
            {{item}}
        </button>
    }

</div>